{% include ('header.html.twig') %}

<section>
    <div class="container">
        <div class="row">
            {{ include ('profile/leftSideBar.html.twig') }}
            <div class="col-sm-9 padding-right">
                <div class="signup-form"><!--sign up form-->
                        <h2>Редактирование ключевых данных</h2>
                        <h5>Обновление email</h5>
                            {{ form_start(formEmail) }}
                            {{ form_errors(formEmail) }}

                            <div>
                                {{ form_label(formEmail.email) }}
                                {{ form_errors(formEmail.email) }}
                                {{ form_widget(formEmail.email) }}
                            </div>
                            <div>
                                {{ form_widget(formEmail.save) }}
                            </div>

                            {{ form_end(formEmail) }}
                            
                        <h5>Обновление номера телефона</h5>
                            {{ form_start(formPhone) }}
                            {{ form_errors(formPhone) }}

                            <div>
                                {{ form_label(formPhone.username) }}
                                {{ form_errors(formPhone.username) }}
                                {{ form_widget(formPhone.username) }}
                            </div>
                            <div>
                                {{ form_widget(formPhone.save) }}
                            </div>

                            {{ form_end(formPhone) }}
                    </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section>
                    
{% include ('footer.html.twig') %}