{{ include ('header.html.twig') }}

<section>
    <div class="container">
        <div class="row">
            {{ include ('profile/leftSideBar.html.twig') }}

            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Личный кабинет</h2>
                            {% if user.username is null %}
                                <h5>Для улучшения безопасности Вашей учетной записи укажите Ваш номер 
                                    <span><a href="{{ path('profile_security') }}">телефона</a></span>
                                </h5>    
                            {% endif %}
                            {% if user.email is null %}
                                <h3>Для улучшения безопасности Вашей учетной записи укажите Ваш 
                                    <span><a href="{{ path('profile_security') }}">email</a></span>
                                </h3>    
                            {% endif %}
                            <p>Имя: {{ user.name }}</p>
                            <p>Фамилия: {{ user.surname }}</p>
                            <p>Дата рождеия: 
                                {% if user.birthday %}
                                {{ user.birthday|date("Y-m-d") }}
                                {% endif %}
                                </p>
                            <p>Пол: {{ user.sex }}</p>
                            <p>Страна проживания: {{ user.country }}</p>
                            <a href="{{ path('profile_edit') }}" class="btn btn-default">
                                Редактировать данные
                            </a>
                </div><!--features_items-->
                
            </div>
        </div>
    </div>
</section>
                   
{{ include ('footer.html.twig') }}