{% trans_default_domain 'FOSUserBundle' %}


<footer id="footer" class="page-footer"><!--Footer-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2016</p>
                <p class="pull-right"></p>
            </div>
        </div>
    </div>
</footer><!--/Footer-->





</body>
</html>{# empty Twig template #}
