{% include ('header.html.twig') %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <div class="panel-group category-products">
                    <h4>Либо нажмите 
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-default">ТУТ</a>
                        для входа
                    </h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Выберите тип регистрации</h2>
                    <h2>{{ errors }}</h2>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="/images/registration/mail.jpg" alt="" />
                                        <a id="email_touch" href="#" class="btn btn-default">Регистрация с помощью email</a>
                                        <div id="email_form" class="signup-form" style="display:none"><!--sign up form-->
                                                {{ form_start(formEmail) }}
                                                {{ form_errors(formEmail) }}

                                                <div>
                                                    {{ form_label(formEmail.email) }}
                                                    {{ form_errors(formEmail.email) }}
                                                    {{ form_widget(formEmail.email) }}
                                                </div>
                                                <div>
                                                    {{ form_widget(formEmail.save) }}
                                                </div>

                                                {{ form_end(formEmail) }}    
                                        </div><!--/sign up form-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="/images/registration/phone.jpg" alt="" />
                                        <a id="phone_touch" href="#" class="btn btn-default">Регистрация с помощью телефона</a>
                                        <div id="phone_form" class="signup-form" style="display:none"><!--sign up form-->
                                            {{ form_start(formPhone) }}
                                            {{ form_errors(formPhone) }}

                                            <div>
                                                {{ form_label(formPhone.phone) }}
                                                {{ form_errors(formPhone.phone) }}
                                                {{ form_widget(formPhone.phone) }}
                                            </div>
                                            <div>
                                                {{ form_widget(formPhone.save) }}
                                            </div>

                                            {{ form_end(formPhone) }}  
                                        </div><!--/sign up form-->
                                    </div>
                                </div>
                            </div>
                        </div>  
                </div><!--features_items-->
                </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function(){
        $("#email_touch").click(function() {
            $("#email_form").slideToggle( "fast" );
            return false;
        });
    });
    
    $(document).ready(function(){
        $("#phone_touch").click(function() {
            $("#phone_form").slideToggle( "fast" );
            return false;
        });
    });
</script>              

{% include ('footer.html.twig') %}